
:root {
  --color-accent-light: #0f6fde;
  --color-accent-dark: #0f6fde;
  --color-secondary: #ccc;

  --text-color-default: #2c2c2c;
  --text-color-light: #fff;

  --font-size-default: 18px;
  --font-size-lg: 38px;

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-default: var(--font-weight-regular);

  --border-color-default: var(--color-secondary);
  --border-color-accent: var(--color-accent-dark);

  --bg-color-default: #cedff1;
  --bg-color-dark: #2c2c2c;
  --bg-color-accent--lignt: var(--color-accent-light);
  --bg-color-accent--dark: var(--color-accent-dark);

  --transition-duration: .2s;
  --transition-timing-function: linear;
  --transition-delay: 0s;

  --negative-multiplier: -1;

  --gradient-default: linear-gradient(122deg, #0f6fde 0%, #0f6fde 100%);
  /* --gradient-default: linear-gradient(122deg, var(--color-accent-light) 0%, var(--color-accent-dark) 100%); */
  
}

*{
  font-family: 'Plus Jakarta Sans', sans-serif;}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;  
  font-size: var(--font-size-default);
  color: var(--text-color-default);
  margin: 0px;
}

/* EXAMPLE STYLES: YOU DON'T NEED THEM!!! */
.content {
  margin: 0px auto;
  overflow: hidden;
}

/* TIMELINE STYLES: YOU NEED THEM!!! */
.timeline {
/*  --wrapper-width: 1000px;*/

  width: 90%;
  max-width: var(--wrapper-width);
  margin: 1px auto;
}

.timeline__stepper {
  --step-border-width: 3px;
  --offset-to-slider-content: 45px;

  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: var(--offset-to-slider-content);
}

@media(min-width: 530px) {
  .timeline__stepper {
      display: flex;
      justify-content: space-around;
      gap: 0;
  }
}

@media(min-width: 700px) {
  .timeline__stepper {
      --offset-to-slider-content: 15px;
  }
}

.timeline__step {
  position: relative;
  width: 100%;
  cursor: pointer;
}

@media(min-width: 530px) {
  .timeline__step {
      width: 100%;
  }
}

.timeline__icon {
  --timeline-icon-dimensions: 45px;

  position: relative;
  display: block;
  width: var(--timeline-icon-dimensions);
  max-height: var(--timeline-icon-dimensions);
  height: auto;
  margin: 0 auto;
  transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
}

@media (max-width: 530px) {
  .timeline__icon{
    --timeline-icon-dimensions: 75px;
  }
}


@media(min-width: 700px) {
  .timeline__icon {
      --timeline-icon-dimensions: 60px;

      margin-bottom: 30px;
  }
}

.timeline__icon--active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  fill: url(#icon-gradient);
  opacity: 0;
}

.timeline__step-title {
  --timeline-dot-dimensions: 11px;
  --extra-offset-fox-pixelperfect: -1px;

  position: relative;
  display: none;
  padding-top: 30px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Plus Jakarta Sans';
  line-height: 1.7;
  color: #8181ac;
  border-top: var(--step-border-width) solid var(--border-color-default);
}

@media(min-width: 700px) {
  .timeline__step-title {
      display: block;
  }
}

.timeline__step-title:before,
.timeline__step-title:after {
  position: absolute;
  top: var(--dot-top-position);
  left: 50%;
  display: block;
  width: var(--timeline-dot-dimensions);
  height: var(--timeline-dot-dimensions);
  content: '';
  border-radius: 50%;
}

/* .timeline__step-title:before {
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%);
  border: 2px solid var(--border-color-default);
  border-radius: 50%;
  background-color: #fff;
  z-index: 5;
} */

.timeline__step-title:after {
  --timeline-dot-dimensions: 25px;
  --dot-top-position: calc(
          var(--timeline-dot-dimensions)/2 * var(--negative-multiplier) + var(--extra-offset-fox-pixelperfect)
  );

  transform: translate(-50%) scale(0);
  border-radius: 50%;
  background-color: #fff;
}

/* this elements generates in JS */
.timeline__step-active-marker {
  --slide-pos-y: none; /* calcs on the fly in js */
  --slide-pos-x: none; /* calcs on the fly in js */
  --slide-width: auto; /* calcs on the fly in js */

  --transition-timing-function: cubic-bezier(0, 0, 0, 1.2);

  position: absolute;
  top: var(--slide-pos-y);
  left: 0;
  display: none;
  width: var(--slide-width);
  height: var(--step-border-width);
  transform: translateX(var(--slide-pos-x));
  transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
}

@media(min-width: 700px) {
  .timeline__step-active-marker {
      display: block;
  }
}

.timeline__step.is-active {
  cursor: default;
}

.timeline__step.is-active .timeline__step-title {
  opacity: 1;
}
.timeline__step{
  /* opacity: 0.5; */
}
.timeline__step:hover,.timeline__step-title:hover {
  opacity: 1;
}

/* .timeline__step.is-active .timeline__step-title:before {
  transition: background-color var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-color: var(--color-accent-dark);
  border-color: var(--border-color-accent);
} */

/* .timeline__step.is-active .timeline__step-title:after {
  transform: translate(-50%) scale(1);
  transition: transform var(--transition-duration) var(--transition-timing-function) var(--transition-delay);
  background-image: var(--gradient-default);
  opacity: .35;
} */

.timeline__step.is-active .timeline__icon--default,
.timeline__step:not(.is-active):hover .timeline__icon--default {
  opacity: 0;
  
}
.timeline__icon--default, .timeline__step-title{
  opacity: 0.5;
}
.timeline__step.is-active .timeline__icon--active,
.timeline__step:not(.is-active):hover .timeline__icon--active {
  opacity: 1;
}

.timeline__slides {
  /*--slides-container-height: 0px;*/ /* calcs on the fly in js */

  /* --content-offset-x: 20px;
  --content-offset-y: 30px;

  --decoration-blur-spread: 20px;
  --decoration-opacity: .7;
  --decoration-pos-x: 0;
  --decoration-pos-y: 20px;
  --decoration-scale: 1; */

  position: relative;
  width: 100%;
  max-width: 100%;
  margin: auto;
  height: var(--slides-container-height);
  /* background-color: var(--bg-color-default); */
}

@media (max-width: 470px) {
  .timeline__slides{
    height: 520px;
  }
}
@media (max-width: 700px) {
  .timeline__slides{
    height: 650px;
  }
}

.img_bg{
  background-color: #cedff1;
}
.img_bg2{
  background-color: #C7E2DB;
  
}
.img_bg3{
  background-color: #D1CCE3;
  
}
.img_bg4{
  background-color: #E5C8BE;
  
}
.img_bg5{
  background-color:#BED6D9 ;
}
.img_bg6{
  background-color: #F4E3C6;
}
.img_bg,
.img_bg2,
.img_bg3,
.img_bg4,
.img_bg5,
.img_bg6{
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
@media (max-width: 700px) {
  .img_bg,
.img_bg2,
.img_bg3,
.img_bg4,
.img_bg5,
.img_bg6{
  margin-top: 50px;
}
}
@media (max-width: 530px) {
  .img_bg,
.img_bg2,
.img_bg3,
.img_bg4,
.img_bg5,
.img_bg6{
  margin-top: 35px;
}
}
@media (max-width: 400px) {
  .img_bg,
.img_bg2,
.img_bg3,
.img_bg4,
.img_bg5,
.img_bg6{
  margin-top: 50px;
}
}


.timeline_content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

}
.para{
  font-size: 18px;
  width: 60%;
  height: 150px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

@media (max-width: 530px) {
  .para{
    width: 80%;
    margin-bottom: 30px;
    height: 130px;
  }
}

.para .text{
  padding: 0px;
  margin: 0px;
  margin-bottom: 12px;
  font-size: 18px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 28px;
  font-weight: 300;
  color: #8181ac;
}
.para .fas{
  margin-left: 5px;
}
.para a{
  font-size: 15px;
  font-family: 'Plus Jakarta Sans';
  color: #0f6fde;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.para a:hover{
  color:#10253d;
}

@media (max-width: 530px) {
  .timeline__slides .timeline__slide-content img{
    width: 100%;
    padding: 50px 0px;
  }
}


@media(min-width: 700px) {
  .timeline__slides {
      --content-offset-x: 30px;
      --content-offset-y: 40px;
  }
}

.timeline__slides .timeline__slide-content img{
  padding: 50px 0px;
  width: fit-content	;
}
timeline__slide .img1{
  width: 90%;
}

.timeline__slides:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: var(--decoration-opacity);
  /* background-image: var(--gradient-default); */
  filter: blur(var(--decoration-blur-spread));
  transform: translate3d(var(--decoration-pos-x), var( --decoration-pos-y), 0) scale(var(--decoration-scale));
  z-index: -1;
}

.timeline__slide {
  position: absolute;
  top: 0;
  left: 0;
  padding: var(--content-offset-y) var(--content-offset-x);
  opacity: 0;
  visibility: hidden;
}

.timeline__slide.is-active {
  /* transition: opacity var(--transition-duration) var(--transition-timing-function) var(--transition-delay); */
  display: flex;
  width: -webkit-fill-available;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  padding: 0px;
}

.timeline__slide-title {
  margin-top: 0;
}

.timeline__slide-content {
  line-height: 1.2;
}

.timeline__slide-content p:first-child {
  margin-top: 0;
}

.timeline__slide-content p:last-child {
  margin-bottom: 0;
}


@media (max-width: 375px) {
  body {
    font-size: 15px;
  }

  .content {
    padding: 20px;
  }

  .content__title {
    font-size: 32px;
    letter-spacing: 0;
  }
  .timeline__slide-content img{
    width: 120%;
  }

  .timeline__slides{
    height: 430px;
  }

  .timeline {
    margin-top: 30px;
    padding: 0 20px;
  }

  .timeline__step {
    margin-bottom: 20px;
    
  }

  .timeline__icon {
    font-size: 20px;
  }

  .timeline__step-title {
    font-size: 16px;
  }

  .timeline__slides {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .img_bg,
  .img_bg2,
  .img_bg3,
  .img_bg4,
  .img_bg5,
  .img_bg6{
    width: auto;
    height: auto;
    margin-top: 60px;
    background-color: transparent;
  }

  .timeline_content {
    margin-bottom: 20px;
  }

  .para {
    margin-bottom: 10px;
    width: 90%;
  }

  .para .text {
    font-size: 15px;
  }

  .para .fas {
    font-size: 14px;
    margin-right: 5px;
  }

  .para a {
    text-decoration: none;
  }

  .timeline__slides .timeline__slide-content img {
    padding: 0px !important;
    width: 120% !important;
}
}
@media (max-width: 315px) {
  .img_bg,
  .img_bg2,
  .img_bg3,
  .img_bg4,
  .img_bg5,
  .img_bg6{
    margin-top: 95px;
  }
  .para{
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .timeline__slides .timeline__slide-content img {
    padding-right: 0px;
    width: 90%;
  }
}

@media (width: 1024px) {
  .timeline__slides {
    height: 800px;
  }
}

@media (min-width: 1024px) {
  .para{
    height: 100px;
  }
}
